@{
    ViewData["Title"] = "Registration Succeeded";
}

<h2>@ViewData["Title"].</h2>

<div class="col-md-12">
    <p>Thanks for registering.  We've sent an email to you with all the details you need.  Please click on the link in the email to confirm that it's you!</p>
</div>