@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Verify";
}

<div class="row">
    <div class="eight columns">
        <h2>@ViewData["Title"]</h2>

        <form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <h4>@ViewData["Status"]</h4>
            <hr />
            <label asp-for="Code"></label>
            <input asp-for="Code" class="u-full-width" />
            <span asp-validation-for="Code" class="text-danger"></span>

            <label asp-for="RememberBrowser">
                Remember Browser?
                <input asp-for="RememberBrowser" />
            </label>

            <button type="submit" class="button">Submit</button>

            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
        </form>
    </div>
</div>

