@{
    ViewData["Title"] = "How To Search For Places";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-12">
    <p>Once you have logged in as a practice member you can access your clients' places by clicking "Search Places in the menu."</p>
    <dl>
        <dt><i class="fa fa-question-circle fa-2x"></i>How do I search for a client or place?</dt>
        <dd>
            You can search for a specific client's name or reference number, place's name or address by using the search boxes on the "Search Places" page.  Once you have finished typing the results will update automatically.  All three search boxes can be
            used at the same time to help you narrow down your search.
        </dd>

        <dt><i class="fa fa-question-circle fa-2x"></i>I found my place! How do I see it on the map?</dt>
        <dd>
            Once you've found the place you're looking for, click on the "Details" link in that row and you'll be taken to a page with a map, and all the details about that place.  If you want to see several places at the same time, then
            look at <a asp-action="Daylist" asp-controller="HowTo">our guide to making a daylist.</a>
        </dd>
    </dl>
</div>