@{
    ViewData["Title"] = "Payment Successful";
}

<h2>@ViewData["Title"]</h2>

<row>
    <div class="col-md-12">
        <p>Your payment was successful.  The messages you ordered have now been added to your account and can be used immediately.</p>
        <p><a asp-action="Index" asp-controller="ClientRelations" class="btn btn-lg btn-primary">Back to Client Relations</a></p>
    </div>

</row>
