$phone: 700px;
$less-than-phone: max-width $phone;
$tablet: 820px;
$screen: 1080px;

$headerfont: 'Raleway';
$bodyfont : 'Raleway';
$logofont: 'Lobster';

$warningtextcolor: red;

$dark-background: #3e3e3f;
$light-foreground:#a4c5d2;

$nav-background: #C06946;
$nav-foreground: #ffffff;
$nav-hover: #1EAEDB;
