@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>

<div class="row row-padded">
    <div class="col-md-1">
        <i class="fa fa-location-arrow fa-4x va-middle"></i>
    </div>
    <div class="col-md-11">
        Direct Your Vet<br />
        2 Kings Road<br />
        Whitley Bay<br />
        Tyne and Wear<br />
        NE26 3BD<br />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-1">
        <i class="fa fa-phone fa-4x va-middle"></i>
    </div>    
    <div class="col-md-11">
        0191 280 1396
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-1">
        <i class="fa fa-envelope fa-4x va-middle"></i>
    </div>
    <div class="col-md-11">
        <form class="form-horizontal">
            <div class="col-md-11 form-group">
                <textarea class="form-control" type="text" rows="5" cols="100" placeholder="Your message..."></textarea>
            </div>
            <div class="col-md-2 form-group">
                <button class="form-control btn btn-success">Send Message</button>
            </div>
        </form>
    </div>
</div>