@{
    ViewData["Title"] = "Home Page";
    ViewData["useFluidContainer"] = true;
}

<div class="dyv-home-header">
    <h1>Snappy header</h1>
    <p>Saving time, money and frustration!</p>
</div>

<div class="row">
    <div class="six columns">
        <h3>Helping Vets</h3>
        <ul>
            <li>See the exact location of your client on a map.</li>
            <li>Stop driving in circles searching for farms, spend your working time doing what you love!</li>
            <li>Save your time, and your fuel bills.</li>
        </ul>
        <a href="#" class="button button-primary">See All The Benefits</a>
    </div>
    <div class="six columns">
        <h3>Helping Clients</h3>
        <ul>
            <li>Let your vet know exactly where you are.</li>
            <li>In an emergency every minute can count - we make sure your vet sees your animal as soon as possible!</li>
            <li>Only takes seconds to sign up and add your location.</li>
        </ul>
        <a href="#" class="button button-primary">Share Your Location Now</a>
    </div>
</div>

