@{
    ViewData["Title"] = "Security";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <h4>Securing Your Account</h4>
        <p>We recognise that your data is precious to you, and that by signing up to DirectYourVet.com you are entrusting us with its safekeeping.  We take this responsibility seriously and do everything in our power to keep your data safe.</p>
        <p>Our login system uses industry-leading technology developed and provided by online security experts at Microsoft.  Your data is stored in the Microsoft Azure cloud - this is the same data storage system used by many FTSE100 
        companies - to ensure that it is as protected as possible.</p>
        <p>Two-factor authentication is a process that confirms that not only do you know something (your password), but also that you <i>have</i> something.  This has been used for many years by online banking, for example, with text messages
        to your mobile phone.  This is important because although we can control the security on DirectYourVet.com, if you use the same password on another site, then your security could be compromised there.  Clearly the ideal situation is
        to use a different password for every website, but for many people this is unrealistic (although there are some excellent free password managers - Keepass and Lastpass that might help you with this).</p>
        <p>We allow two-factor authentication via email, text message or using an Authenticator app on your phone.  Currently this is an optional setting but we strongly encourage its use - just go to "Manage My Account" to turn it on.</p>

        <h4>Managing Your Data</h4>
        <p>DirectYourVet.com will never pass your data on to any third-party, or allow any access to your data other than when you specifically request it.  We have stringent processes to ensure that your data stays with you alone.</p>
    </div>
</div>
