@{
    ViewData["Title"] = "Our Technology";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="twelve columns">
        <p>
            We pride ourselves on using the most appropriate technology for every task, whether it's been around for 6 weeks or 10 years.  A great deal of the technology we use is open-source - this means that the underlying source code is viewable
            by anyone, leading to fast bug-fixes and great security.  It also means that these services are free to use, so we like to give thanks to the creators of the technologies that enable us to exist.
        </p>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h4>Front-end (Client-side)</h4>
        <dl>
            <dt>CSS Framework</dt>
            <dd>Skeleton</dd>

            <dt>CSS Extension Language</dt>
            <dd>Sass</dd>

            <dt>Glyphicons</dt>
            <dd>FontAwesome</dd>

            <dt>Javascript Library</dt>
            <dd>jQuery</dd>

            <dt>Javascript Framework</dt>
            <dd>Knockout.js</dd>

            <dt>Notifications</dt>
            <dd>Noty.jquery</dd>

            <dt>Frontend Package Manager</dt>
            <dd>Bower, node.js</dd>

            <dt>Frontend Build Manager</dt>
            <dd>Gulp, WebPack</dd>

            <dt>Mapping Provider</dt>
            <dd>Google Maps</dd>
        </dl>
    </div>

    <div class="six columns">
        <h4>Back-end (Server-side)</h4>
        <dl>
            <dt>Framework</dt>
            <dd>Asp.net Core 1.0</dd>

            <dt>Data layer</dt>
            <dd>Entity Framework Core 1.0</dd>

            <dt>Class Mapping</dt>
            <dd>Automapper</dd>

            <dt>Hosting</dt>
            <dd>Microsoft Azure Web Services</dd>

            <dt>Source Control</dt>
            <dd>Visual Studio Team Services</dd>
        </dl>
    </div>    
</div>
