@{
    ViewData["Title"] = "Why Create DirectYourVet.com";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <p>The idea for DirectYourVet.com was originally conceived by Alex Young around 2013, and brought to fruition during 2016, but why create the site?</p>
        <blockquote>
            <p><i class="fa fa-quote-left"></i>I qualified as a vet from Liverpool University in 2009, and went straight out into the world of ambulatory equine work.  The job was great - working with horses, in the countryside - but I always found one aspect very frustrating.
            This was the amount of time I spent driving between clients.  Now clearly a good amount of that time is unavoidable, but a surprisingly large portion of it could be reduced.   This portion is the part of a vet's time spent 
            driving in circles searching for the place they need to be!  I could see the that this wasted time affected me - it bit into whatever free time I might have - but it also kept animals waiting for emergency treatment, frustrated
            clients stood waiting for my arrival, and cost my practice money - in terms of fuel, time and reputation.</p>
            <p>One evening on call I had a revelatory experience.  A client called me out, and helpfully informed me that her yard was very difficult to find.  She offered to send me an email with a map, marked with her location. Of course
            I gratefully accepted and got on my way - but the effectiveness of this simple measure stuck with me.  Why couldn't we put this great system in place for all our clients?  I didn't see any reason why not, so eventually I 
            created this website - hopefully vets, clients and animals will find it benefits them.<i class="fa fa-quote-right"></i></p>
            <h3>Alex Young</h3>
        </blockquote>
    </div>
</div>
