@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-12">
    <p>DirectYourVet.com will not sell, rent, exchange or give your personal details to any third parties, with the exception of sharing details of your added locations with veterinary practices you have chosen to share with.  You may choose
    to revoke this sharing at any time.</p>
    <p>Data collected by the website is used to: 
    <ul>
        <li>Provide address details to veterinary practices with whom you have chosen to share your information</li>
        <li>Administer the site and service</li>
    </ul>
    Your data will always be used in accordance with the Data Protection Act (1998).
    </p>
</div>
