@{
    ViewData["Title"] = "Terms of Use";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-12">
    <p>This disclaimer details our obligations to you regarding your use of DirectYourVet.com (hereafter "the website").  Please read this disclaimer in full before using our website.  This disclaimer may be periodically updated, so please refer back to this page
    in the future.</p>

    <h4>Use of Website</h4>
    <p>You are permitted to use the website for your own purposes, and to download and print content from the website provided that you do not modify any content without our prior consent.  Any material obtained from the website must not be
    republished online or offline without our permission.</p>
    <p>The copyright and intellectual property rights to this website are owner by DirectYourVet ltd. and must not be reproduced without our prior consent.</p>

    <h4>Visitor Conduct</h4>
    <p>With the exception of personally identifiable information (covered under our @Html.ActionLink("Privacy Policy", "Legal", "Legal")) any material you send or post to the website shall be considered non-proprietary and
    non-confidential.  Unless and until advised otherwise, we will be free to copy, disclose, distribute and otherwise use this material for any and all purposes.</p>
    <p>You shall not post any information to this website for which you have not obtained all necessary consent.</p>
    <p>You shall refrain from posting any material that is discriminatory, obscene, racist, pornographic, defamatory, liable to incite racial hatred, in breach of confidentiality or privacy, which may cause annoyance or inconvenience 
    to others, or which encourages or constitutes conduct that would be deemed a criminal offence, give rise to civil liability, or is otherwise contrary to the law in the United Kingdom.</p>

    <h4>Security</h4>
    <p>We take security seriously, as detailed on our @Html.ActionLink("security page.", "Security", "Home") You are responsible for keeping your password to access the website secret.</p>

    <h4>Cookies</h4>
    <p>The website uses cookies to keep track of your current login.  If you do not consent to the use of cookies then please do not use the website.</p>
</div>
